<!DOCTYPE html>

<html>

<head>
    <title>ABout</title>
        <link rel="icon" href='/img/wea.png'>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
     <p>This site was create by {{name}}. It Uses data from Darksky and mapbax.com</p>
     <img class="portrait" src="/img/ms photo.jpg">
    </div>
         {{>footer}}


</body>

</html>